여러 모델로 만든 결과 불러와서 앙상블 수행

In [1]:
import pandas as pd

In [2]:
sample_submission = pd.read_csv('./dataset/sample_submission.csv', encoding='utf-8')
Ensemble_5 = pd.read_csv('./submission/Ensemble_5.csv', encoding='utf-8')
mljar_autoML_4 = pd.read_csv('./submission/mljar_autoML_4.csv', encoding='utf-8')

In [3]:
ensemble_result = (Ensemble_5['answer'] + mljar_autoML_4['answer']) / 2
ensemble_result

0        2139.710317
1        2147.781367
2        2012.725667
3        1918.552017
4        1895.617900
            ...
16795     967.083227
16796     856.412747
16797     771.812708
16798     672.305067
16799     494.980083
Name: answer, Length: 16800, dtype: float64

In [4]:
sample_submission['answer'] = ensemble_result
sample_submission.head()

   num_date_time       answer
0  1_20220825 00  2139.710317
1  1_20220825 01  2147.781367
2  1_20220825 02  2012.725667
3  1_20220825 03  1918.552017
4  1_20220825 04  1895.617900

In [5]:
sample_submission.to_csv('./submission/Ensemble_6.csv', index=False)