여러 모델로 만든 결과 불러와서 앙상블 수행

In [1]:
import pandas as pd

In [2]:
sample_submission = pd.read_csv('./dataset/sample_submission.csv', encoding='utf-8')
RandomForest_4 = pd.read_csv('./submission/RandomForest_4.csv', encoding='utf-8')
RandomForest_5 = pd.read_csv('./submission/RandomForest_5.csv', encoding='utf-8')

In [4]:
ensemble_result = (RandomForest_4['answer'] + RandomForest_5['answer']) / 2
ensemble_result

0        2040.6072
1        2118.2456
2        1992.5488
3        1980.0000
4        1986.5480
           ...
16795     868.8128
16796     706.4980
16797     723.1020
16798     655.5208
16799     490.1364
Name: answer, Length: 16800, dtype: float64

In [5]:
sample_submission['answer'] = ensemble_result
sample_submission.head()

   num_date_time     answer
0  1_20220825 00  2040.6072
1  1_20220825 01  2118.2456
2  1_20220825 02  1992.5488
3  1_20220825 03  1980.0000
4  1_20220825 04  1986.5480

In [6]:
sample_submission.to_csv('./submission/Ensemble_4.csv', index=False)